<% @page_title = "Listing Comments by #{@user.name}" %>

<table class='listing'>
  <tr valign='top'>
    <th>Commenting On</th>
    <th>Votes</th>
    <th>Comment</th>
  </tr>

<% @user.comments.each do |comment| %>
  <tr class='row<%= cycle(1, 2) %>' valign='top'>
    <td><%= link_to(comment.commentable.full_title, url_for_commentable(comment)) %></td>
    <td><%= display_votes(comment) %></td>
    <td><%= truncate( comment.content) %></td>
	</tr>
<% end %>
</table>
