<%= render(:partial => 'chapters/owner_nav' ) %>
<% if @sub_chapter.owner?(current_user) and !@sub_chapter.new_record? and @sub_chapter.valid? -%>
<div class='page_menu_wrapper'>
<ul class='page_menu'>
<li class='heading'>Sub-Chapter:</li>
<li><%= link_to "Read", read_sub_chapter_path(@book, @chapter.position, @sub_chapter.position) %></li>
<li><%= link_to('Edit', edit_sub_chapter_path(@sub_chapter)) %></li>
</ul>
</div><% end -%>