<% @page_title = @sub_chapter.full_title %>

<%= render(:partial => 'sub_chapters/owner_nav' ) %>

<div class='read_sub_chapter_content'>

<%= display_user_content(@sub_chapter.content) %>
<br clear='all'>
</div>

<%= render(:partial => 'comments/comment_form', :locals => {:commentable => @sub_chapter } ) %>
