<% @page_title = 'Notification' %>

<p>
  <b>User:</b>
  <%=h @notification.user.name %>
</p>

<p>
  <b>Book:</b>
  <%=h @notification.book.title %>
</p>


<%= link_to 'Edit', edit_notification_path(@notification) %> |
<%= link_to 'Back', notifications_path %>