<% if @book.owner?(current_user) -%>
<div class='page_menu_wrapper'>
<ul class='page_menu'>
<li class='heading'>Author:</li>
<li><%= link_to "Read Book", book_path(@book) %></li>
<li><%= link_to 'Edit', edit_book_path(@book) %></li>
<li><%= link_to 'New Chapter', new_book_chapter_path(@book) %></li>
</ul>
</div><% end -%>