<% @page_title = 'Editing book' %>

<% form_for(@book) do |f| %>
  <%= f.error_messages %>
<%= render(:partial => 'form_for_book', :locals => { :f => f } ) %>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @book %>
