<% @page_title = @chapter.full_title %>

<%= render(:partial => 'chapters/owner_nav' ) %>

<div class='chapter_content'>
<%= render(:partial => 'books/table_of_contents', :locals => {:book => @chapter.book } ) %>

<%= @chapter.content %>
<br clear='all'>
</div>

<%= render(:partial => 'comments/comment_form', :locals => {:commentable => @chapter } ) %>
