<% @page_title = "#{@chapter.parent.title.titleize} #{@chapter.type}: #{@chapter.title}" %>

<p>
  <b>Content:</b>
  <%=h @chapter.content %>
</p>


<%= link_to 'Edit', edit_chapter_path(@chapter) %> |
<%= link_to "Back to #{@chapter.parent.title}", @chapter.parent %>
