<% @page_title = @chapter.full_title %>

<%= render(:partial => 'chapters/owner_nav' ) %>

<div class='read_chapter_content'>

<%= @chapter.content %>
<br clear='all'>
</div>

<%= render(:partial => 'comments/comment_form', :locals => {:commentable => @chapter } ) %>
