<% @page_title = "#{@chapter.parent.title.titleize} #{@chapter.type}: #{@chapter.title}" %>

<div class='chapter_content'>
<%= render(:partial => 'books/table_of_contents', :locals => {:book => @chapter.book } ) %>

<%= @chapter.content %>
<br clear='all'>
</div>

<% if @chapter.owner?(current_user) %>
<%= link_to 'Edit', edit_chapter_path(@chapter) %>
<% end %>

<%= render(:partial => 'comments/comment_form', :locals => {:commentable => @chapter } ) %>
